@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);

    --White-main-headingstats: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--Very-dark-blue-main-background);
    
}

h1{
    color: var(--White-main-headingstats);
    padding-top: 1rem;
}

h1 span{
    color: var(--Soft-violet-accent);
}


.container{
    width: 375px;
    height: 100%;
    background-color: var(--Dark-desaturated-blue-card-background);
    border-radius: 0.5rem;
    font-family: "inter";
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.main_img{
    height: 45%;
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background: url(/images/image-header-mobile.jpg);
    background-size: cover;
}

.main_para{
    margin: 1.5rem;
    color: var(--Slightly-transparent-white-main-paragraph);
}

.overviews p{
    font-family: "Lexend Deca";    
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--Slightly-transparent-white-main-paragraph);
    padding-bottom: 1rem;
}
 
.overviews span{
    color: var(--White-main-headingstats);
    font-weight: 700;
    font-size: 1.2rem;
}



.attribution { 
	font-size: 11px; text-align: center; 
    color: var(--White-main-headingstats);
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}


@media(min-width: 1140px){
    body{
        justify-content: center;
    }
    .container{
        height: 20rem;
        width: 55rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0;
    }

    .main_img{
        background: url(/images/image-header-desktop.jpg);
        background-size: cover;
        border-bottom-right-radius: 0.5rem;
        border-top-left-radius: 0;
        height: 100%;
        width: 100%;
    }

    .overviews{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }
   
}